<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Columbia University's Center for Teaching and Learning</string>
	<key>Builder Version</key>
	<string>11601.4.4</string>
	<key>CFBundleDisplayName</key>
	<string>Mediathread</string>
	<key>CFBundleIdentifier</key>
	<string>edu.columbia.safari.mediathread</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.5</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>src/global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>mediathread</string>
				<key>Image</key>
				<string>img/icon.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Mediathread</string>
				<key>Palette Label</key>
				<string>Mediathread</string>
				<key>Tool Tip</key>
				<string>Collect with Mediathread</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>injected/listener.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>injected/lib/jquery-2.2.0.min.js</string>
				<string>injected/lib/URI.js</string>
				<string>injected/common/host-handler.js</string>
				<string>injected/common/asset-handler.js</string>
				<string>injected/common/collect.js</string>
				<string>injected/collect-popup.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>injected/css/mediathread_collect.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Find assets to analyze in Mediathread</string>
	<key>DeveloperIdentifier</key>
	<string>N4GV9R3SDD</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/ccnmtl/mediathread-safari</string>
</dict>
</plist>
